# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
# poetry.lock -> manter commitado para reproducibilidade (descomente para ignorar)
# poetry.lock
.env
.env.*
!.env.example

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
htmlcov/

# Build
build/
dist/
*.egg-info/
.eggs/

# IDE/editor
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store

# Database
*.db
*.sqlite3

# Logs
*.log

# OS
Thumbs.db
