body {
    font-family: Arial, sans-serif;
    background-color: #0f0f12;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    justify-items: center;
    /* background-image: linear-gradient(45deg, #4f0f0f, rgb(106, 45, 45)); */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%;

}

.container {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #12121c;
    width: 1250px;
    height: 750px;
    border-radius: 10px;
    
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6f040485;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 1);
    width: 1200px;
    height: 700px;
}

.login {
    /* display: flex;
    flex-direction: column; */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: translateY(-33px);
    transform: translateX(20px)
}

.register {
    /* display: flex;
    flex-direction: column; */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: translateY(3px);
    transform: translateX(250px);
}

.btn {
    /* display: flex;
    flex-direction: column; */
    width: 40%;
    position: relative;
    left: 0%;
    margin-top: 10px;
    background-color: #5e3533;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-control {
    padding: 10px;
    border: 1px solid #460e0e;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
    background-color: rgb(83, 40, 40);

}

.login a {
    color: white;
    text-decoration: underline;
    margin-top: 40px;
    
    }

.login h2, .register h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.cover-panel {
    width: 100%;
    height: 100%;
    background-color: #462b2b;
    border-radius: 50px 0 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -350px;
    z-index: 1;
}

.cover-panel.active {
    left: 100px;
    transition: left 0.5s ease-in-out;
}

.cover-panel h2, .cover-panel p {
    color: rgb(43, 23, 23);
    font-size: 24px;
    margin-bottom: 20px;
}